{% extends 'base_layout.html' %} {% block title %} Home page {% endblock %} {%
block main_header %} Account Info {% endblock %} {% block content %} Lorem ipsum
dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. uis aute
irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
qui officia deserunt mollit anim id est laborum. {% endblock %}

<h2>Order History</h2>

{% block orders %}

<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Date</th>
      <th>Door Finish</th>
      <th>Glass</th>
      <th>Door Width</th>
      <th>Door Height</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.id }}</td>
      <td>{{ row.date }}</td>
      <td>{{ row.door_finish }}</td>
      <td>{{ row.door_glass }}</td>
      <td>{{ row.door_width }}</td>
      <td>{{ row.door_height }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
