{% extends 'base_layout.html' %} {% block title %} Account Info {% endblock %}
{% block main_header %} Account Info {% endblock %} {% block content %}

<h2>User List</h2>

<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h2>Orders List</h2>

<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Date</th>
      <th>Door Finish</th>
      <th>Glass</th>
      <th>Door Width</th>
      <th>Door Height</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.id }}</td>
      <td>{{ row.date }}</td>
      <td>{{ row.door_finish }}</td>
      <td>{{ row.door_glass }}</td>
      <td>{{ row.door_width }}</td>
      <td>{{ row.door_height }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
