{% extends 'base_layout.html' %} 
{% block title %} Online Doors Store {% endblock %} 

{% block main_header %} Online Doors Store {% endblock %} 

{% block content %} 
This application is a prototype of a door configurator. 
How it works? The user registers, selects the door configuration they like, after pressing the "submit" button, an order is formed. 
The finished order is saved in the user account and at the same time is sent to the admin for processing/cost estimate. 
Subsequently, the admin can calculate the cost of the configuration and contact the user.
{% endblock %}
