{% extends 'base_layout.html' %} {% block title %} Our Products {% endblock %}
{% block main_header %} Our Products {% endblock %} {% block content %}
<div id="app">
  <h2>{ message }</h2>
  <div class="text-center" style="margin-bottom: 50px">
    <canvas id="canvas"></canvas>
  </div>

  <form action="">
    <div class="panel panel-default">
      <div class="panel-heading">Door Finish</div>
      <div class="panel-body">
        <div class="radio">
          <label
            ><input
              id="unpainted"
              data-img="/static/images/unpainted.png"
              type="radio"
              name="optradio"
              checked
            />Unpainted</label
          >
        </div>
        <div class="radio">
          <label
            ><input
              id="paint"
              data-img="/static/images/paint.png"
              type="radio"
              name="optradio"
            />Paint</label
          >
        </div>
        <div class="radio">
          <label
            ><input
              id="stain"
              data-img="/static/images/stain.png"
              type="radio"
              name="optradio"
            />Stain</label
          >
        </div>
      </div>
    </div>
  </form>
  <form action="">
    <div class="panel panel-default">
      <div class="panel-heading">Glass</div>
      <div class="panel-body">
        <div class="radio">
          <label
            ><input
              data-img="/static/images/glass_1.png"
              id="glass_1"
              type="radio"
              h
              checked
              name="optradio"
            />Glass 1</label
          >
        </div>
        <div class="radio">
          <label
            ><input
              data-img="/static/images/glass_2.png"
              id="glass_2"
              type="radio"
              name="optradio"
            />Glass 2</label
          >
        </div>
        <div class="radio">
          <label
            ><input
              data-img="/static/images/glass_3.png"
              id="glass_3"
              type="radio"
              name="optradio"
            />Glass 3</label
          >
        </div>
      </div>
    </div>
  </form>
  <div class="panel panel-default">
    <div class="panel-heading">Door width</div>
    <div class="panel-body">
      <div class="radio">
        <label
          ><input id="width-30" checked type="radio" name="optradio" />30</label
        >
      </div>
      <div class="radio">
        <label><input id="width-32" type="radio" name="optradio" />32</label>
      </div>
      <div class="radio">
        <label><input id="width-34" type="radio" name="optradio" />34</label>
      </div>
      <div class="radio">
        <label><input id="width-36" type="radio" name="optradio" />36</label>
      </div>
    </div>
  </div>
  <form action="">
    <div class="panel panel-default">
      <div class="panel-heading">Door height</div>
      <div class="panel-body">
        <div class="radio">
          <label
            ><input
              id="height-6_8"
              checked
              type="radio"
              name="optradio"
            />6'8"</label
          >
        </div>
        <div class="radio">
          <label><input id="height-8" type="radio" name="optradio" />8'</label>
        </div>
      </div>
    </div>
    <button id="submit_button" type="button" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
{% endblock %}

<!-- 
{% block old_content %}
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th>Name</th>
      <th>Price From</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>
        <button class="btn btn-outline btn-danger">Configure</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}  -->
